body,input,button,select,textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "微软雅黑", "メイリオ", sans-serif;
}
html, body {
  height: 100%;
}
body {
  background-color: #1f1f1f;
}

.content {
  min-height: 75%;
}

#footer .logo {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #1f1f1f url('/modules/members/img/LightEffects2.png') no-repeat center bottom;
}
#footer footer {
  padding-top: 20px;
  min-height: 200px;
  border-top-style: solid;
  border-top-color: #cba5b0;
  border-top-width: 5px;
  background: #E4B9C5 url('/modules/members/img/LightEffects3.png') no-repeat center top;
}
#footer footer p {
  color: #262323;
  font-size: 10px;
}
#footer footer .title {
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(255,255,255,.5);
}
#footer footer .about .description-jp {
  color: #504C4C;
}
#footer footer .contact a {
  color: #504C4C;
  border-bottom: 1px dashed #504C4C;
}
#footer footer .contact a:hover {
  text-decoration: none;
}

.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.ng-invalid.ng-dirty{
  border-color:#FA787E;
}
.ng-valid.ng-dirty{
  border-color:#78FA89;
}

#loading-bar .bar {
  z-index: 1031;
  height: 5px;
  background: #ecd078;
}
#loading-bar .peg {
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}