<section id="members" data-ng-controller="MembersController" data-ng-init="find()">
  <div class="container">
    <div class="row">
      <div class="btn-group">
        <label class="btn btn-default" ng-model="orderProp" btn-radio="'team'">隊伍</label>
        <label class="btn btn-default" ng-model="orderProp" btn-radio="'generation'">期數</label>
        <label class="btn btn-default" ng-model="orderProp" btn-radio="'year'">年齡</label>
        <label class="btn btn-default" ng-model="orderProp" btn-radio="'zodiacsignorder'">星座</label>
        <label class="btn btn-default" ng-model="orderProp" btn-radio="'bloodtype'">血型</label>
        <label class="btn btn-default" ng-model="orderProp" btn-radio="'birthplace'">出生地</label>
        <label class="btn btn-default" ng-model="orderProp" btn-radio="'height'">身高</label>
      </div>
    </div>
    <div class="row">
      <div class=""
           data-ng-repeat="member in members | orderBy:[orderProp,'memberid']:canReverse(orderProp) | groupBy:[orderProp]">
        <div class="col-xs-12"
             ng-show="member.groupByCHANGED">
          <div class="page-header">
            <h1 ng-show="orderProp === 'team'">{{ member[orderProp] | getTeam }}</h1>
            <h1 ng-show="orderProp === 'generation'">{{ member[orderProp] | getGeneration }} <small>{{ member[orderProp] | getGenerationDate | date:'yyyy年M月d日' }}</small></h1>
            <h1 ng-show="orderProp === 'year'">{{ member[orderProp] }}歲</h1>
            <h1 ng-show="orderProp === 'zodiacsignorder'">{{ member.zodiacsign }} {{ member.zodiacsignsymbol }}</h1>
            <h1 ng-show="orderProp === 'bloodtype'">{{ member[orderProp] | getBloodType }}</h1>
            <h1 ng-show="orderProp === 'birthplace'">{{ member[orderProp] | getJapanPlace }} <small>{{ member[orderProp] | getJapanZone }}</small></h1>
            <h1 ng-show="orderProp === 'height'">{{ member[orderProp] }}cm</h1>
          </div>
        </div>
        <div class="member col-xs-6 col-sm-3 col-md-2">
          <a data-ng-href="#!/members/{{member.firstnameen}}-{{member.lastnameen}}" tooltip-html-unsafe="{{ member.catchphrase }}">
            <img class="img-circle center-block"
                 data-ng-src="{{ member.memberid | getImgURL:120:2014:true }}">
            <h4 class="text-center">{{ member.firstname }} {{ member.lastname }}</h4>
            <p ng-show="member.job" class="text-muted text-center"><small>{{ member.job | getJob }}</small></p>
            <p ng-show="member.concurrent" class="text-muted text-center"><small>{{ member.concurrent | getTeam }} 兼任</small></p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
