/* d3 */
.node {
}
.node image {
  cursor: pointer;
}
.node text {
  pointer-events: none;
  font: 15px sans-serif;
}
.link {
  stroke: #000;
  stroke-width: 1.5px;
}

/* deckgrid */
.deckgrid {
}
.deckgrid .column {
  float: left;
}
.deckgrid .column .photo {
  /*background:#fff url(images/spinner.gif) center 30px no-repeat;*/
  /*border: 1px solid rgba(0, 0, 0, .15);*/
  /*border-radius: 10px;*/
  margin: 0 10px 10px 0;
  position: relative;
}
.deckgrid .column.size-1-5 {
  width: 228px;
}
.deckgrid .column.size-1-4 {
  width: 235px;
}
.deckgrid .column.size-1-3 {
  width: 240px;
}
.deckgrid .column.size-1-2 {
  width: 295px;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
.deckgrid[deckgrid]::before {
  content: '2 .column.size-1-2';
  font-size: 0;
  visibility: hidden;
}
.deckgrid .column .photo {
  /*background: #000 url(images/spinner.gif) center 30px no-repeat;*/
}
.deckgrid .column .photo .fade {
  opacity: 1;
}
.deckgrid .column .photo .fade:hover {
  opacity: 0.75;
}
.deckgrid .column .photo .photo-wrapper {
  max-width: 295px;
  overflow: hidden;
  border-radius: 6px;
  cursor: zoom-in;
}
.deckgrid .column .photo .photo-wrapper img {
  min-width: 295px;
  max-width: 295px;
  height: auto;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .deckgrid[deckgrid]::before {
    content: '3 .column.size-1-3';
  }
  .deckgrid .column .photo .photo-wrapper {
    max-width: 240px;
  }
  .deckgrid .column .photo .photo-wrapper img {
    min-width: 240px;
    max-width: 240px;
  }
  .deckgrid .column.size-1-3 {
    width: 240px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .deckgrid[deckgrid]::before {
    content: '4 .column.size-1-4';
  }
  .deckgrid .column .photo .photo-wrapper {
    max-width: 235px;
  }
  .deckgrid .column .photo .photo-wrapper img {
    min-width: 235px;
    max-width: 235px;
  }
  .deckgrid .column.size-1-4 {
    width: 235px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .deckgrid[deckgrid]::before {
    content: '5 .column.size-1-5';
  }
  .deckgrid .column .photo .photo-wrapper {
    max-width: 228px;
  }
  .deckgrid .column .photo .photo-wrapper img {
    min-width: 228px;
    max-width: 228px;
  }
  .deckgrid .column.size-1-5 {
    width: 228px;
  }
}
