.animate-repeat {
  -webkit-transition: 1s linear all;
  transition: 1s linear all;
}
.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity: 0;
}
.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity: 1;
}
/**
 * Stagger Leave (hide) animation
 */
.animate-repeat.ng-leave-stagger {
  /* this will have a 100ms delay between each successive leave animation */
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;

  /* in case the stagger doesn't work then these two values
   must be set to 0 to avoid an accidental CSS inheritance */
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}
/**
 * Stagger ENTER ANIMATION
 */
.animate-repeat.ng-enter-stagger {
  /* this will have a 100ms delay between each successive enter animation */
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;

  /* in case the stagger doesn't work then these two values
   must be set to 0 to avoid an accidental CSS inheritance */
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}

#members .container .row .member {
  min-height: 200px;
}
#members .container .row .member a p {
  margin-top: 0px;
  margin-bottom: 0px;
}

#member .cover {
  height: 300px;
  background: url('/modules/members/img/Blurred backgrounds by Dreamstale.jpg');
  background-size: cover;
}
#member .cover h1 {
  margin-bottom: 0px;
}
#member .info {
  background-color:#fff;
}
#member .info .container .row .photo-wrapper a.photo-link {
  cursor: zoom-in;
}
#member .info .container .row .photo-wrapper .photo {
  margin-top: -160px;
  border-style: solid;
  border-width: 10px;
  border-color: white;
  background-color: white;
}
#member .info .container .row .photo-wrapper .tooltip.in {
  filter: alpha(opacity=100);
  opacity: 1;
}
#member .info .container .row .photo-wrapper .tooltip ul {
  margin: 0;
  padding: 0; 
  overflow: hidden;
  white-space: nowrap;
}
#member .info .container .row .photo-wrapper .tooltip ul li {
  display: inline;
  padding-right: 10px;
}
#member .info .container .row .photo-wrapper .tooltip ul li div {
  display: inline-block;
}
#member .info .container .row .photo-wrapper .tooltip-inner {
  max-width: 400px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  background-color: rgba(0,0,0,0.9);
}
#member .container {
  height: 100%;
}
#member .container .row {
  height: 100%;
}
#member .container .row .col-md-8 {
  height: 100%;
}
#member .container .row h1 {
  position: absolute;
  bottom: 0;
  color: #fff;
  font-size: 63px;
}
#member .container .row h1 small {
  font-style: 65%;
  color: #777;
}
#member .container .row dl {
  margin-top: 30px;
}
#member .container .row dl dt {
  color: #494749;
}
#member .container .row dl dd {
  color: #393e42;
}
#member .container .row article {
  color: #494749;
  font-size: 17px;
  line-height: 1.4;
}
#member .container .row article:first-letter {
  display: block;
  font-size: 200%;
  overflow: visible;
  position: relative;
  color: #EC4D68;
  font-weight: bold;
}
#member .container .row article ul {
  margin: 0;
  padding: 0; 
  overflow: hidden;
  white-space: nowrap;
}
#member .container .row article ul li {
  display: inline;
}
#member .container .row article .icon {
  width: 32px;
  height: 32px;
  display:inline-block;
  border: none;
  transition: all 0.1s ease;
}
#member .container .row article .icon:hover {
  border-radius: 50%;
}
#member .container .row article .icon-official {
  background: url('/modules/members/img/icon.png') 0px 0px;
}
#member .container .row article .icon-ameblo {
  background: url('/modules/members/img/icon.png') -32px 0px;
}
#member .container .row article .icon-twitter {
  background: url('/modules/members/img/icon.png') -64px 0px;
}
#member .container .row article .icon-google {
  background: url('/modules/members/img/icon.png') -96px 0px;
}
#member .container .row article .icon-nanagogo {
  background: url('/modules/members/img/icon.png') -128px 0px;
}
#member .quote {
  background-color: #616365;
  color: #fff;
  padding: 15px 15px 0px 15px;
  text-align: center;
}
#member .quote .container h2 {
  line-height: 1.5;
}
#member .quote .container p span.text-mute {
  color: #AEAEAF;
}

#keywords {
  background-color: #393e42;
  padding-bottom: 20px;
}
#keywords .container .row h1 {
  color: #2F3338;
  margin-bottom: 20px;
  font-weight: normal;
  text-shadow: 
    -1px -1px 1px rgba(0,0,0,.5),
    1px 1px 1px rgba(255,255,255,.1);
}
#keywords .container .row article {
  color: #fff;
  font-size: 17px;
  line-height: 1.4;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
#keywords .container .row article:first-letter {
  display: block;
  font-size: 100%;
  color: #ECD078;
  font-weight: bold;
}
#keywords .container .row a {
  cursor: zoom-in;
}

#relationships {
  background: #ECD078 url('/modules/members/img/LightEffects2.png') no-repeat center bottom;
  border-bottom-style: solid;
  border-bottom-color: #d3ba6b;
  border-bottom-width: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#relationships .container .slick-slider{
  margin-bottom: 0px;
}
#relationships .container .row a.photo-link {
  cursor: zoom-in;
}
#relationships .container .row .photo {
  min-height: 555px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
#relationships .container .row .photo-title {
  position: absolute;
}
#relationships .container .row .photo-title h1 {
  color: #fff;
  font-size: 55px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
}
#relationships .container .row .photo-description {
  position: absolute;
  bottom: 0px;
  display: block;
  color: #fff;
  padding: 10px;
  background: rgba(60,60,59,.75) url('/modules/members/img/LightEffects3.png') no-repeat center top;
}
#relationships .container .row .photo-description article {
}
#relationships .container .row .photo-description article:first-letter {
  color: #69D2E7;
}
#relationships .container .row .photo-description blockquote {
  margin-bottom: 0px;
  border-left: 5px solid #ECD078;
}
#relationships .container .row .photo-description blockquote footer {
  color: #ECD078;
}

#images {
  min-height: 400px;
  -webkit-box-shadow: 0 2px rgba(0,0,0,.3) inset;
  -moz-box-shadow: 0 2px rgba(0,0,0,.3) inset;
  box-shadow: 0 2px rgba(0,0,0,.3) inset;
  background: #1f1f1f url('/modules/members/img/LightEffects.png') no-repeat center top;
}
#images .container {
  padding-top: 20px;
}

#footer .logo {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #1f1f1f url('/modules/members/img/LightEffects2.png') no-repeat center bottom;
}
#footer footer {
  min-height: 200px;
  border-top-style: solid;
  border-top-color: #d496a2;
  border-top-width: 5px;
  background: #EDA8B6 url('/modules/members/img/LightEffects3.png') no-repeat center top;
}

/* d3 */
.node {
}
.node image {
  cursor: pointer;
}
.node text {
  pointer-events: none;
}
.link {
  stroke: #654842;
  stroke-width: 1px;
}

/* deckgrid */
.deckgrid {
}
.deckgrid .column {
  float: left;
}
.deckgrid .column .photo {
  margin: 0 10px 10px 0;
  position: relative;
}
.deckgrid .column.size-1-5 {
  width: 228px;
}
.deckgrid .column.size-1-4 {
  width: 235px;
}
.deckgrid .column.size-1-3 {
  width: 240px;
}
.deckgrid .column.size-1-2 {
  width: 295px;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
.deckgrid[deckgrid]::before {
  content: '2 .column.size-1-2';
  font-size: 0;
  visibility: hidden;
}
.deckgrid .column .photo {
  /*background: #000 url(images/spinner.gif) center 30px no-repeat;*/
}
.deckgrid .column .photo .fade {
  opacity: 1;
}
.deckgrid .column .photo .fade:hover {
  opacity: 0.75;
}
.deckgrid .column .photo .photo-wrapper {
  max-width: 295px;
  overflow: hidden;
  border-radius: 1px;
  cursor: zoom-in;
}
.deckgrid .column .photo .photo-wrapper img {
  min-width: 295px;
  max-width: 295px;
  height: auto;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .deckgrid[deckgrid]::before {
    content: '3 .column.size-1-3';
  }
  .deckgrid .column .photo .photo-wrapper {
    max-width: 240px;
  }
  .deckgrid .column .photo .photo-wrapper img {
    min-width: 240px;
    max-width: 240px;
  }
  .deckgrid .column.size-1-3 {
    width: 240px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .deckgrid[deckgrid]::before {
    content: '4 .column.size-1-4';
  }
  .deckgrid .column .photo .photo-wrapper {
    max-width: 235px;
  }
  .deckgrid .column .photo .photo-wrapper img {
    min-width: 235px;
    max-width: 235px;
  }
  .deckgrid .column.size-1-4 {
    width: 235px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .deckgrid[deckgrid]::before {
    content: '5 .column.size-1-5';
  }
  .deckgrid .column .photo .photo-wrapper {
    max-width: 228px;
  }
  .deckgrid .column .photo .photo-wrapper img {
    min-width: 228px;
    max-width: 228px;
  }
  .deckgrid .column.size-1-5 {
    width: 228px;
  }
}
